<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="sap_soa_obroty.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="InfZglPortNameSoapBinding" />
            </basicHttpBinding>
            <customBinding>
                <binding name="ZPK_CRM_RAPORTY">
                    <textMessageEncoding messageVersion="Soap11" />
                    <httpTransport />
                </binding>
            </customBinding>
        </bindings>
        <client>
            <endpoint address="http://er1.aquael.pl:8000/sap/bc/srt/rfc/sap/zpk_crm_raporty/001/zpk_crm_raporty/zpk_crm_raporty"
                binding="customBinding" bindingConfiguration="ZPK_CRM_RAPORTY"
                contract="SOAPSAP.ZPK_CRM_RAPORTY" name="ZPK_CRM_RAPORTY" />
            <endpoint address="http://domino.aquael.pl:80/7B/helpdesk_it.nsf/InfZgl?OpenWebService"
                binding="basicHttpBinding" bindingConfiguration="InfZglPortNameSoapBinding"
                contract="_ws_HelpDeskDomino.InfZglPort" name="InfZglPortName" />
        </client>
    </system.serviceModel>
    <applicationSettings>
        <sap_soa_obroty.Properties.Settings>
            <setting name="sap_soa_obroty_pl_aquael_domino_InfZglElementName"
                serializeAs="String">
                <value>https://domino.aquael.pl:443/7B/helpdesk_it.nsf/InfZgl?OpenWebService</value>
                
            </setting>
        </sap_soa_obroty.Properties.Settings>
    </applicationSettings>
</configuration>